/* styles.css */

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.bold_text {
    font-weight: bold;
}

.no_bold {
    font-weight: normal;
}

.body {
    margin: 20px;
    width: 100%;
}
#choropleth_map {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
}



.pure-g {
    text-align: center;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}

.pure-u-1-2{
    display: flex;
    flex-wrap: wrap;
    border: none;
   
}
#pie_chart {
    margin-left: 20px;
    margin-right: 20px;
    border: none;
}


h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.choropleth_map.vg.json{
    width: 100%;
}

#spaces {
    margin-bottom: 10px;
}

/* Add more styles as needed for your specific layout */
